<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-status-creatifs-historique-heading"
        data-cy="StatusCreatifsHistoriqueCreateUpdateHeading"
        jhiTranslate="nabAppApp.statusCreatifsHistorique.home.createOrEditLabel"
      >
        Create or edit a Status Creatifs Historique
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="nabAppApp.statusCreatifsHistorique.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.statusCreatifsHistorique.dateModification" for="field_dateModification"
            >Date Modification</label
          >
          <div class="input-group">
            <input
              id="field_dateModification"
              data-cy="dateModification"
              type="text"
              class="form-control"
              name="dateModification"
              ngbDatepicker
              #dateModificationDp="ngbDatepicker"
              formControlName="dateModification"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateModificationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.statusCreatifsHistorique.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'nabAppApp.StatusCreatifs.null' | translate }}</option>
            <option *ngFor="let statusCreatifs of statusCreatifsValues" [value]="statusCreatifs">
              {{ 'nabAppApp.StatusCreatifs.' + statusCreatifs | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
