<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="creatifs">
      <h2 data-cy="creatifsDetailsHeading"><span jhiTranslate="nabAppApp.creatifs.detail.title">Creatifs</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.creatifs.id">Id</span></dt>
        <dd>
          <span>{{ creatifs.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.nom">Nom</span></dt>
        <dd>
          <span>{{ creatifs.nom }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.mail">Mail</span></dt>
        <dd>
          <span>{{ creatifs.mail }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.adresseSiegeSocial">Adresse Siege Social</span></dt>
        <dd>
          <span>{{ creatifs.adresseSiegeSocial }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.telephonne">Telephonne</span></dt>
        <dd>
          <span>{{ creatifs.telephonne }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.instagram">Instagram</span></dt>
        <dd>
          <span>{{ creatifs.instagram }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.prenom">Prenom</span></dt>
        <dd>
          <span>{{ creatifs.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.microEntreprise">Micro Entreprise</span></dt>
        <dd>
          <span>{{ creatifs.microEntreprise }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.dateRecrutement">Date Recrutement</span></dt>
        <dd>
          <span>{{ creatifs.dateRecrutement }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.siret">Siret</span></dt>
        <dd>
          <span>{{ creatifs.siret }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.siren">Siren</span></dt>
        <dd>
          <span>{{ creatifs.siren }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.ville">Ville</span></dt>
        <dd>
          <span>{{ creatifs.ville }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.competancePrincipal">Competance Principal</span></dt>
        <dd>
          <div *ngIf="creatifs.competancePrincipal">
            <a [routerLink]="['/competances', creatifs.competancePrincipal?.id, 'view']">{{ creatifs.competancePrincipal?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.statusCreatifsHistorique">Status Creatifs Historique</span></dt>
        <dd>
          <div *ngIf="creatifs.statusCreatifsHistorique">
            <a [routerLink]="['/status-creatifs-historique', creatifs.statusCreatifsHistorique?.id, 'view']">{{
              creatifs.statusCreatifsHistorique?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="nabAppApp.creatifs.statusValidationsHistorique">Status Validations Historique</span></dt>
        <dd>
          <div *ngIf="creatifs.statusValidationsHistorique">
            <a [routerLink]="['/status-validations-historique', creatifs.statusValidationsHistorique?.id, 'view']">{{
              creatifs.statusValidationsHistorique?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/creatifs', creatifs.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
