<div>
  <h2 id="page-heading" data-cy="PhotosHeading">
    <span jhiTranslate="nabAppApp.photos.home.title">Photos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.photos.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-photos"
        [routerLink]="['/photos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.photos.home.createLabel"> Create a new Photos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="photos?.length === 0">
    <span jhiTranslate="nabAppApp.photos.home.notFound">No photos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="photos && photos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.photos.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.photos.lien">Lien</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.photos.mission">Mission</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let photos of photos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/photos', photos.id, 'view']">{{ photos.id }}</a>
          </td>
          <td>{{ photos.lien }}</td>
          <td>
            <div *ngIf="photos.mission">
              <a [routerLink]="['/missions', photos.mission?.id, 'view']">{{ photos.mission?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/photos', photos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/photos', photos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(photos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
