<div>
  <h2 id="page-heading" data-cy="EtatMissionsHistoriqueHeading">
    <span jhiTranslate="nabAppApp.etatMissionsHistorique.home.title">Etat Missions Historiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.etatMissionsHistorique.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etat-missions-historique"
        [routerLink]="['/etat-missions-historique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.etatMissionsHistorique.home.createLabel"> Create a new Etat Missions Historique </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etatMissionsHistoriques?.length === 0">
    <span jhiTranslate="nabAppApp.etatMissionsHistorique.home.notFound">No etatMissionsHistoriques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etatMissionsHistoriques && etatMissionsHistoriques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.etatMissionsHistorique.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.etatMissionsHistorique.dateModification">Date Modification</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.etatMissionsHistorique.etat">Etat</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etatMissionsHistorique of etatMissionsHistoriques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etat-missions-historique', etatMissionsHistorique.id, 'view']">{{ etatMissionsHistorique.id }}</a>
          </td>
          <td>{{ etatMissionsHistorique.dateModification | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'nabAppApp.EtatMissions.' + etatMissionsHistorique.etat }}">{{ etatMissionsHistorique.etat }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etat-missions-historique', etatMissionsHistorique.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etat-missions-historique', etatMissionsHistorique.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(etatMissionsHistorique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
