<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-creatifs-heading" data-cy="CreatifsCreateUpdateHeading" jhiTranslate="nabAppApp.creatifs.home.createOrEditLabel">
        Create or edit a Creatifs
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nom')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.mail" for="field_mail">Mail</label>
          <input type="text" class="form-control" name="mail" id="field_mail" data-cy="mail" formControlName="mail" />
          <div *ngIf="editForm.get('mail')!.invalid && (editForm.get('mail')!.dirty || editForm.get('mail')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mail')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.adresseSiegeSocial" for="field_adresseSiegeSocial"
            >Adresse Siege Social</label
          >
          <input
            type="text"
            class="form-control"
            name="adresseSiegeSocial"
            id="field_adresseSiegeSocial"
            data-cy="adresseSiegeSocial"
            formControlName="adresseSiegeSocial"
          />
          <div
            *ngIf="
              editForm.get('adresseSiegeSocial')!.invalid &&
              (editForm.get('adresseSiegeSocial')!.dirty || editForm.get('adresseSiegeSocial')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('adresseSiegeSocial')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.telephonne" for="field_telephonne">Telephonne</label>
          <input
            type="text"
            class="form-control"
            name="telephonne"
            id="field_telephonne"
            data-cy="telephonne"
            formControlName="telephonne"
          />
          <div *ngIf="editForm.get('telephonne')!.invalid && (editForm.get('telephonne')!.dirty || editForm.get('telephonne')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephonne')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.instagram" for="field_instagram">Instagram</label>
          <input type="text" class="form-control" name="instagram" id="field_instagram" data-cy="instagram" formControlName="instagram" />
          <div *ngIf="editForm.get('instagram')!.invalid && (editForm.get('instagram')!.dirty || editForm.get('instagram')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('instagram')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('prenom')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.microEntreprise" for="field_microEntreprise"
            >Micro Entreprise</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="microEntreprise"
            id="field_microEntreprise"
            data-cy="microEntreprise"
            formControlName="microEntreprise"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.dateRecrutement" for="field_dateRecrutement"
            >Date Recrutement</label
          >
          <input
            type="text"
            class="form-control"
            name="dateRecrutement"
            id="field_dateRecrutement"
            data-cy="dateRecrutement"
            formControlName="dateRecrutement"
          />
          <div
            *ngIf="
              editForm.get('dateRecrutement')!.invalid &&
              (editForm.get('dateRecrutement')!.dirty || editForm.get('dateRecrutement')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateRecrutement')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.siret" for="field_siret">Siret</label>
          <input type="text" class="form-control" name="siret" id="field_siret" data-cy="siret" formControlName="siret" />
          <div *ngIf="editForm.get('siret')!.invalid && (editForm.get('siret')!.dirty || editForm.get('siret')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siret')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.siren" for="field_siren">Siren</label>
          <input type="text" class="form-control" name="siren" id="field_siren" data-cy="siren" formControlName="siren" />
          <div *ngIf="editForm.get('siren')!.invalid && (editForm.get('siren')!.dirty || editForm.get('siren')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siren')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.ville" for="field_ville">Ville</label>
          <input type="text" class="form-control" name="ville" id="field_ville" data-cy="ville" formControlName="ville" />
          <div *ngIf="editForm.get('ville')!.invalid && (editForm.get('ville')!.dirty || editForm.get('ville')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ville')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.competancePrincipal" for="field_competancePrincipal"
            >Competance Principal</label
          >
          <select
            class="form-control"
            id="field_competancePrincipal"
            data-cy="competancePrincipal"
            name="competancePrincipal"
            formControlName="competancePrincipal"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                competancesOption.id === editForm.get('competancePrincipal')!.value?.id
                  ? editForm.get('competancePrincipal')!.value
                  : competancesOption
              "
              *ngFor="let competancesOption of competancesSharedCollection; trackBy: trackCompetancesById"
            >
              {{ competancesOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.creatifs.statusCreatifsHistorique" for="field_statusCreatifsHistorique"
            >Status Creatifs Historique</label
          >
          <select
            class="form-control"
            id="field_statusCreatifsHistorique"
            data-cy="statusCreatifsHistorique"
            name="statusCreatifsHistorique"
            formControlName="statusCreatifsHistorique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                statusCreatifsHistoriqueOption.id === editForm.get('statusCreatifsHistorique')!.value?.id
                  ? editForm.get('statusCreatifsHistorique')!.value
                  : statusCreatifsHistoriqueOption
              "
              *ngFor="
                let statusCreatifsHistoriqueOption of statusCreatifsHistoriquesSharedCollection;
                trackBy: trackStatusCreatifsHistoriqueById
              "
            >
              {{ statusCreatifsHistoriqueOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="nabAppApp.creatifs.statusValidationsHistorique"
            for="field_statusValidationsHistorique"
            >Status Validations Historique</label
          >
          <select
            class="form-control"
            id="field_statusValidationsHistorique"
            data-cy="statusValidationsHistorique"
            name="statusValidationsHistorique"
            formControlName="statusValidationsHistorique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                statusValidationsHistoriqueOption.id === editForm.get('statusValidationsHistorique')!.value?.id
                  ? editForm.get('statusValidationsHistorique')!.value
                  : statusValidationsHistoriqueOption
              "
              *ngFor="
                let statusValidationsHistoriqueOption of statusValidationsHistoriquesSharedCollection;
                trackBy: trackStatusValidationsHistoriqueById
              "
            >
              {{ statusValidationsHistoriqueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
