<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="statusCreatifsHistorique">
      <h2 data-cy="statusCreatifsHistoriqueDetailsHeading">
        <span jhiTranslate="nabAppApp.statusCreatifsHistorique.detail.title">Status Creatifs Historique</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.statusCreatifsHistorique.id">Id</span></dt>
        <dd>
          <span>{{ statusCreatifsHistorique.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.statusCreatifsHistorique.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ statusCreatifsHistorique.dateModification | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.statusCreatifsHistorique.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'nabAppApp.StatusCreatifs.' + statusCreatifsHistorique.status }}">{{
            statusCreatifsHistorique.status
          }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/status-creatifs-historique', statusCreatifsHistorique.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
