<div>
  <h2 id="page-heading" data-cy="StatusCreatifsHistoriqueHeading">
    <span jhiTranslate="nabAppApp.statusCreatifsHistorique.home.title">Status Creatifs Historiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.statusCreatifsHistorique.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-status-creatifs-historique"
        [routerLink]="['/status-creatifs-historique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.statusCreatifsHistorique.home.createLabel"> Create a new Status Creatifs Historique </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="statusCreatifsHistoriques?.length === 0">
    <span jhiTranslate="nabAppApp.statusCreatifsHistorique.home.notFound">No statusCreatifsHistoriques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="statusCreatifsHistoriques && statusCreatifsHistoriques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.statusCreatifsHistorique.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.statusCreatifsHistorique.dateModification">Date Modification</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.statusCreatifsHistorique.status">Status</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statusCreatifsHistorique of statusCreatifsHistoriques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/status-creatifs-historique', statusCreatifsHistorique.id, 'view']">{{ statusCreatifsHistorique.id }}</a>
          </td>
          <td>{{ statusCreatifsHistorique.dateModification | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'nabAppApp.StatusCreatifs.' + statusCreatifsHistorique.status }}">{{ statusCreatifsHistorique.status }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/status-creatifs-historique', statusCreatifsHistorique.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/status-creatifs-historique', statusCreatifsHistorique.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(statusCreatifsHistorique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
