<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-missions-heading" data-cy="MissionsCreateUpdateHeading" jhiTranslate="nabAppApp.missions.home.createOrEditLabel">
        Create or edit a Missions
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nom')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.lieu" for="field_lieu">Lieu</label>
          <input type="text" class="form-control" name="lieu" id="field_lieu" data-cy="lieu" formControlName="lieu" />
          <div *ngIf="editForm.get('lieu')!.invalid && (editForm.get('lieu')!.dirty || editForm.get('lieu')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lieu')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.prix" for="field_prix">Prix</label>
          <input type="number" class="form-control" name="prix" id="field_prix" data-cy="prix" formControlName="prix" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.dateDebutMission" for="field_dateDebutMission"
            >Date Debut Mission</label
          >
          <div class="input-group">
            <input
              id="field_dateDebutMission"
              data-cy="dateDebutMission"
              type="text"
              class="form-control"
              name="dateDebutMission"
              ngbDatepicker
              #dateDebutMissionDp="ngbDatepicker"
              formControlName="dateDebutMission"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDebutMissionDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.dateFinMission" for="field_dateFinMission"
            >Date Fin Mission</label
          >
          <div class="input-group">
            <input
              id="field_dateFinMission"
              data-cy="dateFinMission"
              type="text"
              class="form-control"
              name="dateFinMission"
              ngbDatepicker
              #dateFinMissionDp="ngbDatepicker"
              formControlName="dateFinMission"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateFinMissionDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.dateCreationMission" for="field_dateCreationMission"
            >Date Creation Mission</label
          >
          <div class="input-group">
            <input
              id="field_dateCreationMission"
              data-cy="dateCreationMission"
              type="text"
              class="form-control"
              name="dateCreationMission"
              ngbDatepicker
              #dateCreationMissionDp="ngbDatepicker"
              formControlName="dateCreationMission"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateCreationMissionDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.etatMissionsHistorique" for="field_etatMissionsHistorique"
            >Etat Missions Historique</label
          >
          <select
            class="form-control"
            id="field_etatMissionsHistorique"
            data-cy="etatMissionsHistorique"
            name="etatMissionsHistorique"
            formControlName="etatMissionsHistorique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                etatMissionsHistoriqueOption.id === editForm.get('etatMissionsHistorique')!.value?.id
                  ? editForm.get('etatMissionsHistorique')!.value
                  : etatMissionsHistoriqueOption
              "
              *ngFor="let etatMissionsHistoriqueOption of etatMissionsHistoriquesSharedCollection; trackBy: trackEtatMissionsHistoriqueById"
            >
              {{ etatMissionsHistoriqueOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.prestataire" for="field_prestataire">Prestataire</label>
          <select class="form-control" id="field_prestataire" data-cy="prestataire" name="prestataire" formControlName="prestataire">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                prestatairesOption.id === editForm.get('prestataire')!.value?.id ? editForm.get('prestataire')!.value : prestatairesOption
              "
              *ngFor="let prestatairesOption of prestatairesSharedCollection; trackBy: trackPrestatairesById"
            >
              {{ prestatairesOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.missions.creatif" for="field_creatif">Creatif</label>
          <select class="form-control" id="field_creatif" data-cy="creatif" name="creatif" formControlName="creatif">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="creatifsOption.id === editForm.get('creatif')!.value?.id ? editForm.get('creatif')!.value : creatifsOption"
              *ngFor="let creatifsOption of creatifsSharedCollection; trackBy: trackCreatifsById"
            >
              {{ creatifsOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="nabAppApp.missions.statusValidationsHistorique"
            for="field_statusValidationsHistorique"
            >Status Validations Historique</label
          >
          <select
            class="form-control"
            id="field_statusValidationsHistorique"
            data-cy="statusValidationsHistorique"
            name="statusValidationsHistorique"
            formControlName="statusValidationsHistorique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                statusValidationsHistoriqueOption.id === editForm.get('statusValidationsHistorique')!.value?.id
                  ? editForm.get('statusValidationsHistorique')!.value
                  : statusValidationsHistoriqueOption
              "
              *ngFor="
                let statusValidationsHistoriqueOption of statusValidationsHistoriquesSharedCollection;
                trackBy: trackStatusValidationsHistoriqueById
              "
            >
              {{ statusValidationsHistoriqueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
