<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="statusValidationsHistorique">
      <h2 data-cy="statusValidationsHistoriqueDetailsHeading">
        <span jhiTranslate="nabAppApp.statusValidationsHistorique.detail.title">Status Validations Historique</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ statusValidationsHistorique.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.statusValidationsHistorique.dateModifiacation">Date Modifiacation</span></dt>
        <dd>
          <span>{{ statusValidationsHistorique.dateModifiacation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.statusValidationsHistorique.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'nabAppApp.StatusValidations.' + statusValidationsHistorique.status }}">{{
            statusValidationsHistorique.status
          }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/status-validations-historique', statusValidationsHistorique.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
