<div>
  <h2 id="page-heading" data-cy="PrestatairesHeading">
    <span jhiTranslate="nabAppApp.prestataires.home.title">Prestataires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.prestataires.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prestataires"
        [routerLink]="['/prestataires/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.prestataires.home.createLabel"> Create a new Prestataires </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="prestataires?.length === 0">
    <span jhiTranslate="nabAppApp.prestataires.home.notFound">No prestataires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prestataires && prestataires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.nomSociete">Nom Societe</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.mail">Mail</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.adresse">Adresse</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.microEntreprise">Micro Entreprise</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.prestataires.instagram">Instagram</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestataires of prestataires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prestataires', prestataires.id, 'view']">{{ prestataires.id }}</a>
          </td>
          <td>{{ prestataires.nomSociete }}</td>
          <td>{{ prestataires.nom }}</td>
          <td>{{ prestataires.prenom }}</td>
          <td>{{ prestataires.mail }}</td>
          <td>{{ prestataires.adresse }}</td>
          <td>{{ prestataires.microEntreprise }}</td>
          <td>{{ prestataires.instagram }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prestataires', prestataires.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prestataires', prestataires.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(prestataires)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
