<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="competances">
      <h2 data-cy="competancesDetailsHeading"><span jhiTranslate="nabAppApp.competances.detail.title">Competances</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.competances.id">Id</span></dt>
        <dd>
          <span>{{ competances.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.competances.nom">Nom</span></dt>
        <dd>
          <span>{{ competances.nom }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.competances.description">Description</span></dt>
        <dd>
          <span>{{ competances.description }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.competances.missions">Missions</span></dt>
        <dd>
          <span *ngFor="let missions of competances.missions; let last = last">
            <a [routerLink]="['/missions', missions?.id, 'view']">{{ missions.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.competances.creatifs">Creatifs</span></dt>
        <dd>
          <span *ngFor="let creatifs of competances.creatifs; let last = last">
            <a [routerLink]="['/creatifs', creatifs?.id, 'view']">{{ creatifs.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.competances.parent">Parent</span></dt>
        <dd>
          <div *ngIf="competances.parent">
            <a [routerLink]="['/competances', competances.parent?.id, 'view']">{{ competances.parent?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/competances', competances.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
