<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="prestataires">
      <h2 data-cy="prestatairesDetailsHeading"><span jhiTranslate="nabAppApp.prestataires.detail.title">Prestataires</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.prestataires.id">Id</span></dt>
        <dd>
          <span>{{ prestataires.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.nomSociete">Nom Societe</span></dt>
        <dd>
          <span>{{ prestataires.nomSociete }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.nom">Nom</span></dt>
        <dd>
          <span>{{ prestataires.nom }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.prenom">Prenom</span></dt>
        <dd>
          <span>{{ prestataires.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.mail">Mail</span></dt>
        <dd>
          <span>{{ prestataires.mail }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.adresse">Adresse</span></dt>
        <dd>
          <span>{{ prestataires.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.microEntreprise">Micro Entreprise</span></dt>
        <dd>
          <span>{{ prestataires.microEntreprise }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.prestataires.instagram">Instagram</span></dt>
        <dd>
          <span>{{ prestataires.instagram }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/prestataires', prestataires.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
