<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-competances-heading" data-cy="CompetancesCreateUpdateHeading" jhiTranslate="nabAppApp.competances.home.createOrEditLabel">
        Create or edit a Competances
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="nabAppApp.competances.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.competances.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nom')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.competances.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label jhiTranslate="nabAppApp.competances.missions" for="field_missions">Missions</label>
          <select class="form-control" id="field_missions" data-cy="missions" multiple name="missions" formControlName="missions">
            <option
              [ngValue]="getSelectedMissions(missionsOption, editForm.get('missions')!.value)"
              *ngFor="let missionsOption of missionsSharedCollection; trackBy: trackMissionsById"
            >
              {{ missionsOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="nabAppApp.competances.creatifs" for="field_creatifs">Creatifs</label>
          <select class="form-control" id="field_creatifs" data-cy="creatifs" multiple name="creatifs" formControlName="creatifs">
            <option
              [ngValue]="getSelectedCreatifs(creatifsOption, editForm.get('creatifs')!.value)"
              *ngFor="let creatifsOption of creatifsSharedCollection; trackBy: trackCreatifsById"
            >
              {{ creatifsOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.competances.parent" for="field_parent">Parent</label>
          <select class="form-control" id="field_parent" data-cy="parent" name="parent" formControlName="parent">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="competancesOption.id === editForm.get('parent')!.value?.id ? editForm.get('parent')!.value : competancesOption"
              *ngFor="let competancesOption of competancesSharedCollection; trackBy: trackCompetancesById"
            >
              {{ competancesOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
