<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="etatMissionsHistorique">
      <h2 data-cy="etatMissionsHistoriqueDetailsHeading">
        <span jhiTranslate="nabAppApp.etatMissionsHistorique.detail.title">Etat Missions Historique</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.etatMissionsHistorique.id">Id</span></dt>
        <dd>
          <span>{{ etatMissionsHistorique.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.etatMissionsHistorique.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ etatMissionsHistorique.dateModification | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.etatMissionsHistorique.etat">Etat</span></dt>
        <dd>
          <span jhiTranslate="{{ 'nabAppApp.EtatMissions.' + etatMissionsHistorique.etat }}">{{ etatMissionsHistorique.etat }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/etat-missions-historique', etatMissionsHistorique.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
