<div>
  <h2 id="page-heading" data-cy="CreatifsHeading">
    <span jhiTranslate="nabAppApp.creatifs.home.title">Creatifs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.creatifs.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-creatifs"
        [routerLink]="['/creatifs/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.creatifs.home.createLabel"> Create a new Creatifs </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="creatifs?.length === 0">
    <span jhiTranslate="nabAppApp.creatifs.home.notFound">No creatifs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="creatifs && creatifs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.mail">Mail</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.adresseSiegeSocial">Adresse Siege Social</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.telephonne">Telephonne</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.instagram">Instagram</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.microEntreprise">Micro Entreprise</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.dateRecrutement">Date Recrutement</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.siret">Siret</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.siren">Siren</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.ville">Ville</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.competancePrincipal">Competance Principal</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.statusCreatifsHistorique">Status Creatifs Historique</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.creatifs.statusValidationsHistorique">Status Validations Historique</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let creatifs of creatifs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/creatifs', creatifs.id, 'view']">{{ creatifs.id }}</a>
          </td>
          <td>{{ creatifs.nom }}</td>
          <td>{{ creatifs.mail }}</td>
          <td>{{ creatifs.adresseSiegeSocial }}</td>
          <td>{{ creatifs.telephonne }}</td>
          <td>{{ creatifs.instagram }}</td>
          <td>{{ creatifs.prenom }}</td>
          <td>{{ creatifs.microEntreprise }}</td>
          <td>{{ creatifs.dateRecrutement }}</td>
          <td>{{ creatifs.siret }}</td>
          <td>{{ creatifs.siren }}</td>
          <td>{{ creatifs.ville }}</td>
          <td>
            <div *ngIf="creatifs.competancePrincipal">
              <a [routerLink]="['/competances', creatifs.competancePrincipal?.id, 'view']">{{ creatifs.competancePrincipal?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="creatifs.statusCreatifsHistorique">
              <a [routerLink]="['/status-creatifs-historique', creatifs.statusCreatifsHistorique?.id, 'view']">{{
                creatifs.statusCreatifsHistorique?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="creatifs.statusValidationsHistorique">
              <a [routerLink]="['/status-validations-historique', creatifs.statusValidationsHistorique?.id, 'view']">{{
                creatifs.statusValidationsHistorique?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/creatifs', creatifs.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/creatifs', creatifs.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(creatifs)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
