<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="missions">
      <h2 data-cy="missionsDetailsHeading"><span jhiTranslate="nabAppApp.missions.detail.title">Missions</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.missions.id">Id</span></dt>
        <dd>
          <span>{{ missions.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.nom">Nom</span></dt>
        <dd>
          <span>{{ missions.nom }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.lieu">Lieu</span></dt>
        <dd>
          <span>{{ missions.lieu }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.prix">Prix</span></dt>
        <dd>
          <span>{{ missions.prix }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.dateDebutMission">Date Debut Mission</span></dt>
        <dd>
          <span>{{ missions.dateDebutMission | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.dateFinMission">Date Fin Mission</span></dt>
        <dd>
          <span>{{ missions.dateFinMission | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.dateCreationMission">Date Creation Mission</span></dt>
        <dd>
          <span>{{ missions.dateCreationMission | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.etatMissionsHistorique">Etat Missions Historique</span></dt>
        <dd>
          <div *ngIf="missions.etatMissionsHistorique">
            <a [routerLink]="['/etat-missions-historique', missions.etatMissionsHistorique?.id, 'view']">{{
              missions.etatMissionsHistorique?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.prestataire">Prestataire</span></dt>
        <dd>
          <div *ngIf="missions.prestataire">
            <a [routerLink]="['/prestataires', missions.prestataire?.id, 'view']">{{ missions.prestataire?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.creatif">Creatif</span></dt>
        <dd>
          <div *ngIf="missions.creatif">
            <a [routerLink]="['/creatifs', missions.creatif?.id, 'view']">{{ missions.creatif?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="nabAppApp.missions.statusValidationsHistorique">Status Validations Historique</span></dt>
        <dd>
          <div *ngIf="missions.statusValidationsHistorique">
            <a [routerLink]="['/status-validations-historique', missions.statusValidationsHistorique?.id, 'view']">{{
              missions.statusValidationsHistorique?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/missions', missions.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
