<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-photos-heading" data-cy="PhotosCreateUpdateHeading" jhiTranslate="nabAppApp.photos.home.createOrEditLabel">
        Create or edit a Photos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="nabAppApp.photos.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.photos.lien" for="field_lien">Lien</label>
          <input type="text" class="form-control" name="lien" id="field_lien" data-cy="lien" formControlName="lien" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nabAppApp.photos.mission" for="field_mission">Mission</label>
          <select class="form-control" id="field_mission" data-cy="mission" name="mission" formControlName="mission">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="missionsOption.id === editForm.get('mission')!.value?.id ? editForm.get('mission')!.value : missionsOption"
              *ngFor="let missionsOption of missionsSharedCollection; trackBy: trackMissionsById"
            >
              {{ missionsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
