<div>
  <h2 id="page-heading" data-cy="CompetancesHeading">
    <span jhiTranslate="nabAppApp.competances.home.title">Competances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.competances.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-competances"
        [routerLink]="['/competances/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.competances.home.createLabel"> Create a new Competances </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="competances?.length === 0">
    <span jhiTranslate="nabAppApp.competances.home.notFound">No competances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="competances && competances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.competances.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.competances.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.competances.description">Description</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.competances.missions">Missions</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.competances.creatifs">Creatifs</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.competances.parent">Parent</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competances of competances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/competances', competances.id, 'view']">{{ competances.id }}</a>
          </td>
          <td>{{ competances.nom }}</td>
          <td>{{ competances.description }}</td>
          <td>
            <span *ngFor="let missions of competances.missions; let last = last">
              <a class="form-control-static" [routerLink]="['/missions', missions.id, 'view']">{{ missions.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let creatifs of competances.creatifs; let last = last">
              <a class="form-control-static" [routerLink]="['/creatifs', creatifs.id, 'view']">{{ creatifs.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="competances.parent">
              <a [routerLink]="['/competances', competances.parent?.id, 'view']">{{ competances.parent?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/competances', competances.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/competances', competances.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(competances)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
