<div>
  <h2 id="page-heading" data-cy="StatusValidationsHistoriqueHeading">
    <span jhiTranslate="nabAppApp.statusValidationsHistorique.home.title">Status Validations Historiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.statusValidationsHistorique.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-status-validations-historique"
        [routerLink]="['/status-validations-historique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.statusValidationsHistorique.home.createLabel"> Create a new Status Validations Historique </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="statusValidationsHistoriques?.length === 0">
    <span jhiTranslate="nabAppApp.statusValidationsHistorique.home.notFound">No statusValidationsHistoriques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="statusValidationsHistoriques && statusValidationsHistoriques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.statusValidationsHistorique.dateModifiacation">Date Modifiacation</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.statusValidationsHistorique.status">Status</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statusValidationsHistorique of statusValidationsHistoriques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/status-validations-historique', statusValidationsHistorique.id, 'view']">{{
              statusValidationsHistorique.id
            }}</a>
          </td>
          <td>{{ statusValidationsHistorique.dateModifiacation | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'nabAppApp.StatusValidations.' + statusValidationsHistorique.status }}">
            {{ statusValidationsHistorique.status }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/status-validations-historique', statusValidationsHistorique.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/status-validations-historique', statusValidationsHistorique.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(statusValidationsHistorique)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
