<div>
  <h2 id="page-heading" data-cy="MissionsHeading">
    <span jhiTranslate="nabAppApp.missions.home.title">Missions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nabAppApp.missions.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-missions"
        [routerLink]="['/missions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nabAppApp.missions.home.createLabel"> Create a new Missions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="missions?.length === 0">
    <span jhiTranslate="nabAppApp.missions.home.notFound">No missions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="missions && missions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.id">Id</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.lieu">Lieu</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.prix">Prix</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.dateDebutMission">Date Debut Mission</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.dateFinMission">Date Fin Mission</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.dateCreationMission">Date Creation Mission</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.etatMissionsHistorique">Etat Missions Historique</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.prestataire">Prestataire</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.creatif">Creatif</span></th>
          <th scope="col"><span jhiTranslate="nabAppApp.missions.statusValidationsHistorique">Status Validations Historique</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let missions of missions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/missions', missions.id, 'view']">{{ missions.id }}</a>
          </td>
          <td>{{ missions.nom }}</td>
          <td>{{ missions.lieu }}</td>
          <td>{{ missions.prix }}</td>
          <td>{{ missions.dateDebutMission | formatMediumDate }}</td>
          <td>{{ missions.dateFinMission | formatMediumDate }}</td>
          <td>{{ missions.dateCreationMission | formatMediumDate }}</td>
          <td>
            <div *ngIf="missions.etatMissionsHistorique">
              <a [routerLink]="['/etat-missions-historique', missions.etatMissionsHistorique?.id, 'view']">{{
                missions.etatMissionsHistorique?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="missions.prestataire">
              <a [routerLink]="['/prestataires', missions.prestataire?.id, 'view']">{{ missions.prestataire?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="missions.creatif">
              <a [routerLink]="['/creatifs', missions.creatif?.id, 'view']">{{ missions.creatif?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="missions.statusValidationsHistorique">
              <a [routerLink]="['/status-validations-historique', missions.statusValidationsHistorique?.id, 'view']">{{
                missions.statusValidationsHistorique?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/missions', missions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/missions', missions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(missions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
