<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="photos">
      <h2 data-cy="photosDetailsHeading"><span jhiTranslate="nabAppApp.photos.detail.title">Photos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nabAppApp.photos.id">Id</span></dt>
        <dd>
          <span>{{ photos.id }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.photos.lien">Lien</span></dt>
        <dd>
          <span>{{ photos.lien }}</span>
        </dd>
        <dt><span jhiTranslate="nabAppApp.photos.mission">Mission</span></dt>
        <dd>
          <div *ngIf="photos.mission">
            <a [routerLink]="['/missions', photos.mission?.id, 'view']">{{ photos.mission?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/photos', photos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
